@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

body {
    background-color: aqua;
    font-family: 'Roboto Mono', monospace;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    column-gap: 2rem;
    justify-items: center;
    background: red;
}

img {
    max-height: 100px;
    max-width: 100px;
}

.repo-wrapper {
    display: grid;
}

.title {
    font-weight: 600;
    font-size: 20px;
}