@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

body, html {
    background-color: aqua;
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    margin: 0px;
}

.scroll-container {
    max-height: 100vh;
    overflow-y: auto;
}

.container {
    display: grid;
    margin: 10px 15px 10px 15px;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
    background: red;
}

.avatar {
    background-color: blueviolet;
    justify-self: center;
}

.avatar img {
    max-height: 100px;
    max-width: 100px;
}

.repo-wrapper {
    display: grid;
    background-color: cornsilk;
}

.title {
    word-wrap: break-word;
    font-weight: 600;
    font-size: 18px;
    background-color: chartreuse;
    max-width: 200px;
}

.description {
    font-size: 12px;
}