@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

body, html {
    background-color: #eee;
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    margin: 0px;
}

.scroll-container {
    max-height: 100vh;
    overflow-y: auto;
}

.container {
    display: flex;
    padding: 15px;
    margin: 10px 15px 10px 15px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    padding: 15px;
}

.avatar img {
    max-height: 150px;
    max-width: 150px;
    border: 1px solid black;
}

.repo-wrapper {
    display: grid;
}

.title {
    word-wrap: break-word;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
}

.description {
    font-size: 14px;
    padding: 5px;
}

.description a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(39, 145, 145);
}

.details-wrapper {
    display: flex;
    align-items: center;
}

.btn-style {
    background-color: rgb(92, 232, 235);
    font-size: 14px;
    padding: 5px;
    margin: 5px;
}

.user {
    font-size: 14px;
    padding: 5px;
    margin: 5px;
}

